.signupBackground {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh);
	overflow-y: scroll;
}
.outerSignupDiv {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mainSignupDiv {
	background-color: rgba(0, 0, 0, 0.4);
	color: var(--primary-text-color-whitesmoke);
	width: clamp(250px, 85%, 1200px);
	min-height: 520px;
	display: flex;
	justify-content: space-evenly;
	animation: first-sight-appear 2s ease-in-out 1 0s normal;
	padding: 20px;
	animation: mnhs-logo-glow 2s linear 0s infinite normal;
}
.mainSignupDiv .flexItem {
	width: clamp(200px, 100%, 400px);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.mainSignupDiv .flexItem section {
	width: clamp(200px, 100%, 400px);
	margin: auto;
}
.signUpSection input {
	display: block;
	margin: auto;
}
.signupBackground button {
	cursor: pointer;
	margin: 5px;
	display: inline;
	padding: 5px;
}
.mainSignupDiv section input {
	padding: 5px;
	width: 80%;
}
.gradeInformation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.gradeInformationItem {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	flex-direction: column;
}
.gradeInformationItem * {
	width: clamp(100px, 100px, 100px);
}
.firstLastName {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.firstLastName div {
	width: 100%;
}
@media (max-width: 940px) {
	.firstLastName {
		display: flex;
		flex-wrap: wrap;
	}
	.mainSignupDiv section input {
		width: 90%;
	}

	.mainSignupDiv {
		display: block;
		animation: none;
		width: 100%;
	}

	.mainSignupDiv .flexItem {
		width: clamp(35ch, 100%, 50ch);
		border: none;
		margin: auto;
		height: 100vh;
	}
	.mainSignupDiv .horizontalRuleHidden {
		display: block;
	}
}
.horizontalRuleHidden {
	display: none;
	margin: 10px;
	background: var(--primary-color-yellow);
	color: var(--primary-color-yellow);
	height: 3px;
	border: var(--border-2px-solid-black);
	border-radius: 10px;
}
@keyframes mnhs-logo-glow {
	0% {
		box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
	25% {
		box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	50% {
		box-shadow: 0px 0px 20px 15px var(--primary-color-yellow);
	}
	75% {
		box-shadow: 0px 0px 20px 10px var(--primary-color-yellow);
	}
	100% {
		box-shadow: 0px 0px 20px 5px var(--primary-color-yellow);
	}
}
